body {
  display: flex;
  margin: 0;
  min-height: 100%;
  height: 100%; }

button {
  display: block;
  background-color: #2E7BCC;
  cursor: pointer;
  padding: 5px;
  border: 0;
  font-size: 1.1em; }

div#bracket {
  margin-left: 450px;
  background-color: lightgrey;
  padding: 25px;
  display: inline-block;
  width: 100%;
  overflow-y: auto; }
  div#bracket h2 {
    display: block;
    color: grey;
    text-align: center;
    vertical-align: middle; }

div#mainBracket, div#secondaryBracket {
  padding: 10px; }

div#options {
  position: fixed;
  background-color: #2e404e;
  color: #fff;
  padding: 0 10px 10px 10px;
  width: 450px;
  height: 100%;
  overflow-y: auto; }
  div#options h3 {
    margin-bottom: 6px; }
  div#options p {
    margin: 6px 0; }

div#projectInfoFlex {
  display: flex;
  margin-bottom: 20px; }
  div#projectInfoFlex img {
    height: 50px; }
  div#projectInfoFlex p {
    margin: 0; }

div.round1, div.round2, div.round3, div.round4, div.round5 {
  vertical-align: top;
  display: inline-block;
  min-width: 10%;
  width: 15%;
  max-width: 20%; }
  div.round1 select, div.round2 select, div.round3 select, div.round4 select, div.round5 select {
    height: 30px; }

div.round1 div.match {
  padding: 10px 0;
  height: 80px; }

div.round1 div.spacer {
  height: 28px; }

div.round2 div.match {
  padding: 20px 0; }

div.round2 div.spacer {
  height: 98px; }

div.round3 div.match {
  padding: 70px 0; }

div.round3 div.spacer {
  height: 198px; }

div.round4 div.match {
  padding: 170px 0; }

div.round4 div.spacer {
  height: 398px; }

div.round5 div.match {
  padding: 370px 0; }

div.round5 div.spacer {
  height: 798px; }

div.match p {
  margin: 5px; }

div.spacer {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555; }

input#numberOfPlayers {
  color: #fff;
  background-color: rgba(24, 24, 36, 0.6);
  border-width: 0;
  padding: 2px;
  border-radius: 2px;
  display: block;
  width: 68px; }

p.warningMessage {
  display: inline-block;
  padding: 5px;
  background-color: red;
  border-radius: 3px;
  text-align: center; }

section {
  background-color: rgba(24, 24, 36, 0.6);
  padding: 2px 10px;
  margin: 10px 0;
  border-radius: 2px; }
  section#projectInfoSection {
    margin-bottom: 25px; }

select#winner {
  display: inline-block;
  height: 30px; }

textarea#names {
  background-color: rgba(24, 24, 36, 0.6);
  border-width: 0;
  padding: 2px;
  border-radius: 2px;
  color: #fff;
  height: 128px;
  min-width: 435px;
  width: 450px;
  max-width: 450px;
  resize: none; }
