div#bracket {
  display: none; }

div.round {
  vertical-align: top;
  display: inline-block;
  width: 15%; }

div.round1 div.match {
  padding: 10px 0;
  height: 80px; }

div.round1 div.spacer {
  height: 28px; }

div.round2 div.match {
  padding: 20px 0; }

div.round2 select {
  height: 30px; }

div.round2 div.spacer {
  height: 98px; }

div.round3 div.match {
  padding: 70px 0; }

div.round3 select {
  height: 30px; }

div.round3 div.spacer {
  height: 198px; }

div.round4 div.match {
  padding: 170px 0; }

div.round4 select {
  height: 30px; }

div.round4 div.spacer {
  height: 398px; }

div.match p {
  margin: 5px; }

div.spacer {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555; }

input {
  display: block; }

select#winner {
  display: block;
  height: 30px;
  margin: 385px 0; }

p.warningMessage {
  display: inline-block;
  padding: 5px;
  background-color: red;
  border-radius: 3px; }

