body {
  margin: 0;
  display: flex;
  height: 100%; }

button {
  display: block;
  background-color: #2E7BCC;
  cursor: pointer;
  padding: 5px;
  border: 0;
  font-size: 1.1em; }

div#bracket {
  background-color: lightgrey;
  padding: 25px;
  display: inline-block;
  width: 100%; }
  div#bracket h2 {
    display: block;
    color: grey;
    text-align: center;
    vertical-align: middle; }

div#options {
  background-color: #2e404e;
  color: #fff;
  padding: 0 10px;
  min-width: 450px; }

div.round {
  vertical-align: top;
  display: inline-block;
  min-width: 10%;
  width: 15%;
  max-width: 20%; }

div.round1 div.match {
  padding: 10px 0;
  height: 80px; }

div.round1 div.spacer {
  height: 28px; }

div.round2 div.match {
  padding: 20px 0; }

div.round2 select {
  height: 30px; }

div.round2 div.spacer {
  height: 98px; }

div.round3 div.match {
  padding: 70px 0; }

div.round3 select {
  height: 30px; }

div.round3 div.spacer {
  height: 198px; }

div.round4 div.match {
  padding: 170px 0; }

div.round4 select {
  height: 30px; }

div.round4 div.spacer {
  height: 398px; }

div.match p {
  margin: 5px; }

div.spacer {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555; }

input#numberOfPlayers {
  color: #fff;
  background-color: #181824;
  border: 2px solid #181823;
  border-radius: 2px;
  display: block;
  width: 68px; }

select#winner {
  display: inline-block;
  height: 30px; }

textarea#names {
  background-color: #181824;
  border: 2px solid #181823;
  border-radius: 2px;
  color: #fff;
  height: 128px;
  width: 400px;
  resize: none; }

p.warningMessage {
  display: inline-block;
  padding: 5px;
  background-color: red;
  border-radius: 3px; }

